$page-color: #fff;
$text-color:#222;
$link-color: #4455ff;

$text-color-light: lighten($text-color, 20%);

$link-color-faint: lighten($link-color, 50%);
$link-color-bright: lighten($link-color, 20%);
$link-color-dark: darken($link-color, 10%);

$base-font-size: 16px;
