@import 'variables';
@import 'mixins';
@import 'type';


* {
  margin:0;
  padding:0;
}

body {
  background: $page-color;
  text-align: center;
}

p {
    margin-bottom: 1em;
}

.container {

    margin:0 auto;
    padding: 1em;
    text-align: left;

    @include bp(narrow) {
        width: 90%;
    }
    @include bp(mid) {
        width: 500px;
    }
    @include bp(wide) {
        width: 700px;
    }
}


div.page-purpose {
    border: dashed 1px $link-color;
    background-color: #f4f8ff;
    color: $text-color-light;
    padding: 1em;
    padding-bottom: 0;
    margin-bottom: 1.5em;
    border-radius: 3px;
}

.main-nav__item {
    display: inline;
    margin: 0 0.5em;
}

ul {
    list-style: inside;

    li {
        line-height: 1;
    }
}
